#wrapper {
    display: flex;
    margin: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
}

#column7 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

#column1 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

#column2 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

#column3 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

#column4 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

#column5 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

#column6 {
    border: 1px solid black;
    height: 500px;
    width: 120px;
}

.redPiece {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;


}

.blackPiece {
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;


}
